/* font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #FFFFFF;
}
  /*=======================
    header-section strat
  ==========================*/
  header{
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
  }
  .text-button{
    margin: 207px 102px 240px 156px;
  }
  .haf-width{
    width: 50%;
  }
  .img-text{
    display: flex;
  }
  .text{
    font-size: 64px;
    color: #FFFFFF;
  }
  .button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 27px;
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFFFFF;
  }
  .button .fa{
    padding-left: 5px;
  }
  .images img{
    width: 556px;
    height: 438px;
    margin: 153px 141px 86px 0px;
  }
  /*=======================
    header-section end
  ==========================*/

  /*=========================
     main-section strat
   ==========================*/
  .box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px 180px;
    grid-gap: 30px;
  }
  .palyer-info{
     width: 330px;
     height: 474px;
     box-shadow: 2px 2px 10px rgb(206, 199, 199),-2px -2px 10px rgb(221, 216, 216);
   }
   .palyer-info p{
     padding-left: 15px;
     font-size: 16px;
     color: #6C6C6C;
   }
  .palyer-img img{
    width: 300px;
    height: 256px;
    padding: 15px;
  }
  .palyer-name{
    padding-left: 15px;
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
  }



  /*=========================
     main-section end
   ==========================*/


  /*=========================
     media-Queries strat
   ==========================*/

  @media only screen and (max-width:688px){
    header{
      width: 100%;
      height: 695px;
      background-color: #2D25A0;
    }
    .img-text{
      flex-direction: column;
    }
    .text-button{
      margin: 100px 66px 30px 30px;
    }
    .text{
      font-size: 36px;
    }
    .button{
      bottom: -30px;
    }
    .images img{
      width: 329px;
      height: 259px;
      margin: 50px 16px;
    }
    .box{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 47px 30px;
    }
  }

  /* tablat */



  /*=========================
     media-Queries end
   ==========================*/
